<% include partials/_header %>

<div class="container mt-5">
        <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                        <a href="/client" class="btn btn-warning btn-lg btn-block">Cliente</a>
                        <a href="/user" class="btn btn-danger btn-lg btn-block">Usuario</a>
                </div>
        </div>
</div>

<% include partials/_footer %>